<!DOCTYPE html>
<html lang="en" ng-app="insights-dashboard">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content="Example application for the Complex Event Processing talk"/>
    <meta name="author" content="bitresolution"/>
    <link rel="icon" href="../resources/images/favicon.ico"/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}"/>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../../resources/css/dashboard.css" th:href="@{/resources/css/dashboard.css}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../resources/js/utils/html5shiv.min.js" th:src="@{/resources/js/utils/html5shiv.min.js}"></script>
    <script src="../../resources/js/utils/respond.min.js" th:src="@{/resources/js/utils/respond.min.js}"></script>
    <![endif]-->

    <script src="../../resources/js/jquery-1.11.3.min.js" th:src="@{/resources/js/jquery-1.11.3.min.js}"></script>
    <script src="../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../resources/js/utils/ie10-viewport-bug-workaround.js"
            th:src="@{/resources/js/utils/ie10-viewport-bug-workaround.js}"></script>

    <title ng-bind="$state.current.name">Insights</title>
</head>

<body th:fragment="content">
<div>
    <div class="h1">Create new Query</div>
    <form class="form-horizontal">
        <input type="hidden" ng-model="query.id"/>
        <div class="form-group">
            <label for="query.name" class="col-sm-2 control-label">Name</label>

            <div class="col-sm-6">
                <input id="query.name" ng-model="query.name" type="text" class="form-control"
                       placeholder="Type name"/>
            </div>
        </div>
        <div class="form-group">
            <label for="query.definition" class="col-sm-2 control-label">Name</label>

            <div class="col-sm-6">
                <input id="query.definition" ng-model="query.definition" type="textbox" class="form-control"
                       placeholder="Define query"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="save()">Save</button>
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>